body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0 auto;
}

h1 {
  font-size: 50px;
  color: #535353;
  line-height: 1.25;
}
.welcome-img {
  width: 100%;
  margin-top: 40px;
}

p {
  font-size: 20px;
  color: #666666;
  line-height: 1.5;
}
.nav {
  background-color: #7e191b;
  height: 50px;
  text-align: right;
  padding-right: 100px;
  padding-top: 30px;
}
a {
  text-decoration: none;
  color: rgba(250, 235, 215, 0.753);
  font-size: 22px;
  padding-right: 20px;
}
.container-1 {
  display: flex;
  margin-right: 100px;
  padding-bottom: 60px;
  padding-right: 50px;
  padding-left: 50px;
}
.container-2 {
  display: flex;
  background-image: url(images/shape/background.jpg);
  background-size: 100%;
  background-position: left;
  padding-bottom: 5%;
  padding-right: 5%;
  padding-left: 5%;
}
.half-width {
  width: 50%;
}
.welcome-texts {
  padding-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
}
.contact-texts {
  padding-top: 200px;
  width: 50%;
  padding-left: 20%;
  padding-right: 10%;
}
.contact-img {
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10%;
}
.container-1 a,
.container-2 a {
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  background-image: linear-gradient(75deg, #be2121, #eb6076);
  padding: 15px 30px;
  border-radius: 30px;
  color: white;
  margin-top: 20px;
}
.colored-text {
  color: #be2121;
}
.container-3 {
  padding-top: 60px;
}
.recipe-text {
  text-align: center;
  width: 35%;
  margin: 20px auto;
}
.recipe-container {
  display: flex;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 80px;
}
.recipe-container h2 {
  color: #ce191a;
  margin-bottom: 0;
}
.recipe-width {
  width: 33.33%;
}
.border {
  box-shadow: 10px 10px 30px #ffd5d9;

  margin: 1% 1% 1% 1%;
  padding: 2%;
  border-radius: 20px;
}
hr {
  border: 0.5px solid red;
  width: 20%;
  margin-left: 0;
}
.pizza-types-images {
  width: 100%;

  border-radius: 20px;
}
.container-4 {
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 100px;
  margin-top: 100px;
  font-size: 20px;
  color: #535353;

  border-radius: 10px;
  background-color: #f3eded;
  padding: 20px 400px;
}
.container-4 label {
  display: block;
  margin-bottom: 5px;
}
.container-4 input {
  margin-bottom: 20px;
  width: 250px;
  height: 30px;

  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  display: block;
  font-size: 20px;

  background-image: linear-gradient(75deg, #be2121, #eb6076);
  padding: 20px;

  margin-bottom: 20px;
  width: 140px;
  height: 30px;
  line-height: 0;

  color: white;
}
footer {
  text-align: center;
  background-color: #3b0708;
  padding-top: 30px;
  padding-bottom: 30px;
}
footer h2 {
  color: rgb(177, 177, 177);
}
footer p {
  color: rgb(189, 176, 159);
  font-size: medium;
}
